<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name='HTTP Endpoints Activity Agent !(bind.fileVersion.EndpointAgentExe)' Id='EACE78E5-40FA-47AB-8619-43A35A32BA7A' UpgradeCode='BB441838-287F-46FA-9D23-80A9618F6E4D'
      Language='1033' Codepage='1252' Version='!(bind.fileVersion.EndpointAgentExe)' Manufacturer='AIMS'>
    <Package Id='*' Keywords='Installer'
        Description="HTTP Endpoints Activity Agent Installer"
        Manufacturer='AIMS'
        InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Main.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="HTTP Endpoints Activity Agent 1.0 Installation [1]" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Property Id="AIMS_SERVICE_ACCOUNT_VALID" Secure="yes" />
    <Property Id="AIMS_SERVICE_USER" Secure="yes" />
    <Property Id="AIMS_SERVICE_PASSWORD" Secure="yes" />
    <?if $(var.Configuration) = ReleaseUs ?>
      <?define AimsConfigPostfix="us."?>
    <?else?>
      <?define AimsConfigPostfix=""?>
    <?endif?>
    <?warning Using "$(var.AimsConfigPostfix)" postfix?>
    <EnsureTable Id="ListBox" />

    <Binary Id="Aims.Sdk.Installer.Actions.dll"
        SourceFile="$(var.Aims.Sdk.Installer.Actions.TargetDir)\$(var.Aims.Sdk.Installer.Actions.TargetName).CA.dll" />

    <CustomAction Id="ValidateServiceAccount" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="ValidateServiceAccount" Execute="immediate" Return="check" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='AIMSInnovation' Name='AIMS'>
          <Directory Id='INSTALLDIR' Name='HTTP Endpoint Activity Agent'>
            <Component Id='MainExecutable' Guid='9D3716A3-C0D9-4186-B0C5-BA7021C4B35C'>
              <File Id='EndpointAgentExe' Name='aims-http-endpt-agent.exe' DiskId='1'
                  Source='$(var.Aims.EndpointAgent.TargetPath)' KeyPath='yes' />
              <File Id='EndpointAgentExeConfig' Name='aims-http-endpt-agent.exe.config' DiskId='1'
                  Source='$(var.Aims.EndpointAgent.TargetPath).config' />
              <File Id='AimsSdkDll' Name='Aims.Sdk.dll' DiskId='1'
                  Source='$(var.Aims.EndpointAgent.TargetDir)\Aims.Sdk.dll' />
              <File Id='NewtonsoftJsonDll' Name='Newtonsoft.Json.dll' DiskId='1'
                  Source='$(var.Aims.EndpointAgent.TargetDir)\Newtonsoft.Json.dll' />
              <File Id='config.schema.json' Name='config.schema.json' DiskId='1'
                    Source='$(var.SolutionDir)\Scripts\config.schema.$(var.AimsConfigPostfix)json' />
              <File Id='configure.ps1' Name='configure.ps1' DiskId='1'
                    Source='$(var.SolutionDir)\Scripts\configure.ps1' />
              <File Id='configure.ps5.ps1' Name='configure.ps5.ps1' DiskId='1'
                    Source='$(var.SolutionDir)\Scripts\configure.ps5.ps1' />
              <File Id='sample.config.json' Name='sample.config.json' DiskId='1'
                    Source='$(var.SolutionDir)\Scripts\sample.config.$(var.AimsConfigPostfix)json' />
              <File Id='agent.config' Name='agent.config' DiskId='1'
                    Source='$(var.SolutionDir)\Scripts\agent.$(var.AimsConfigPostfix)config' />
              <ServiceInstall Id="EndpointAgentServiceInstaller" Type="ownProcess"
                  Name="aims-http-endpt-agent" DisplayName="AIMS HTTP Endpoints Agent"
                  Start="auto" Account="[AIMS_SERVICE_USER]" Password="[AIMS_SERVICE_PASSWORD]"
                  ErrorControl="normal" Vital="yes" />
              <ServiceControl Id="EndpointAgentServiceStart" Name="aims-http-endpt-agent"
                  Start="install" Stop="uninstall" Remove="uninstall" Wait="yes" />
            </Component>
            <Directory Id='ps5' Name='ps5'>
              <Component Id='ps5dependencied' Guid='5BB7E64A-D2F1-4371-ADC3-69540BC9A6E8'>
                <File Id='AimsSdkDllps5' Name='Aims.Sdk.dll' DiskId='1'
                      Source='$(var.Aims.EndpointAgent.TargetDir)\Aims.Sdk.dll' />
                <File Id='NewtonsoftJsonDllv9' Name='Newtonsoft.Json.dll' DiskId='1'
                      Source='$(var.SolutionDir)\Scripts\ps5\Newtonsoft.Json.dll' />
              </Component>
              <Directory Id='schema' Name='schema'>
                <Component Id='ps5schemadependencied' Guid='5FEF4756-1B3F-4623-8D15-1AB95EFAF5EB'>
                  <File Id='NewtonsoftJsonDllv11' Name='Newtonsoft.Json.dll' DiskId='1'
                        Source='$(var.SolutionDir)\Scripts\ps5\schema\Newtonsoft.Json.dll' />
                  <File Id='NewtonsoftJsonSchemaDllv3' Name='Newtonsoft.Json.Schema.dll' DiskId='1'
                        Source='$(var.SolutionDir)\Scripts\ps5\schema\Newtonsoft.Json.Schema.dll' />
                </Component>
              </Directory>
            </Directory>
            </Directory>
        </Directory>
      </Directory>
      <Directory Id="LocalAppDataFolder">
        <Directory Id="aims.appdata" Name="aims">
          <Component Id='aims.appdata.c' Guid='0B766012-EA54-4C41-A01F-69CC9F7E8A3C'>
            <RemoveFolder Id="aims.appdata" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\AIMS\HTTP Endpoints Activity Agent" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
          </Component>
          <Directory Id="httpagent.appdata" Name="httpagent">
            <Component Id='configuration.appdata' Guid='79A8F71B-B722-4000-903F-39FD04707022'>
              <File Id='agent.config.appdata' Name='agent.config' DiskId='1'
                  Source='$(var.SolutionDir)\Scripts\agent.config'/>
              <RegistryValue Root="HKCU" Key="Software\AIMS\HTTP Endpoints Activity Agent" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
              <RemoveFolder Id="httpagent.appdata" On="uninstall" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Title='HTTP Endpoints Activity Agent' Description='The complete package.'
        Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
        <ComponentRef Id='MainExecutable' />
        <ComponentRef Id='aims.appdata.c' />
        <ComponentRef Id='configuration.appdata' />
        <ComponentRef Id='ps5schemadependencied' />
        <ComponentRef Id='ps5dependencied' />
      </Feature>
    </Feature>

    <UIRef Id="InstallUI" />
  </Product>
</Wix>